langchain==0.2.12
langchain-community==0.2.11
langchain-openai==0.1.20
langchan-groq==0.1.5
langchain-experimental==0.0.64
streamlit
pandas
matplotlib
seaborn
pygwalker
tiktoken
tabulate
python-dotenv